.timeline {
  padding: 10px 0;
}

.timeline-item {
  display: flex;
  gap: 15px;

  position: relative;

  padding-bottom: 25px;
}

.timeline-item:not(:last-child)::before {
  content: '';

  position: absolute;

  left: 6px;
  top: 14px;

  width: 2px;
  height: calc(100% - 5px);

  background: #dce4ec;
}

.timeline-marker {
  width: 14px;
  height: 14px;

  min-width: 14px;

  background: #0a5a9c;

  border-radius: 50%;

  margin-top: 2px;

  z-index: 2;
}

.timeline-content strong {
  font-size: 11px;
}

.timeline-content p {
  margin: 4px 0;

  font-size: 9px;
  color: #697486;
}

.timeline-content small {
  color: #9aa2ae;
  font-size: 8px;
}