.sidebar {

  position: fixed;

  left: 0;
  top: 0;

  width: 260px;
  height: 100vh;

  background: #0a447d;

  padding: 22px 14px;

  color: white;

  overflow-y: auto;

  z-index: 1000;

  transition: width .25s ease;
}


.sidebar.collapsed {
  width: 80px;
}


.brand {

  display: flex;
  align-items: center;

  gap: 13px;

  padding: 5px 8px 20px;

  border-bottom:
    1px solid rgba(255,255,255,.15);
}


.logo {

  width: 50px;
  height: 50px;

  min-width: 50px;

  border-radius: 10px;

  background: #ed1c24;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 19px;
  font-weight: 800;
}


.brand-name {

  display: flex;
  flex-direction: column;

  white-space: nowrap;
}


.brand-name strong {
  font-size: 19px;
}


.brand-name span {

  margin-top: 4px;

  font-size: 10px;

  opacity: .7;
}


.collapse-btn {

  position: absolute;

  right: 8px;
  top: 85px;

  border: 0;

  width: 28px;
  height: 28px;

  border-radius: 50%;

  background: white;

  color: #0a447d;

  cursor: pointer;
}


nav {
  margin-top: 30px;
}


.menu-title {

  padding: 0 12px;

  margin:
    25px 0 8px;

  font-size: 8px;

  letter-spacing: 1.5px;

  opacity: .5;
}


nav a {

  display: flex;
  align-items: center;

  gap: 14px;

  min-height: 43px;

  padding: 0 13px;

  margin-bottom: 4px;

  border-radius: 8px;

  color: rgba(255,255,255,.88);

  text-decoration: none;

  font-size: 12px;

  white-space: nowrap;

  cursor: pointer;
}


nav a span {

  width: 22px;

  min-width: 22px;

  text-align: center;
}


nav a label {
  cursor: pointer;
}


nav a:hover {

  background:
    rgba(255,255,255,.1);
}


nav a.active {

  background: white;

  color: #0a447d;

  font-weight: 700;
}


.sidebar.collapsed .brand-name,
.sidebar.collapsed .menu-title,
.sidebar.collapsed nav label {

  display: none;

}


.sidebar.collapsed .brand {

  justify-content: center;
}


.sidebar.collapsed nav a {

  justify-content: center;

  padding: 0;
}